<div class="row">
  <div class="span4 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :name, :placeholder => "Username or email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Sign in", class: "btn btn-default btn-primary" %>
    <% end %>
  <%= link_to "Sign up!", signup_path %>
</div>