<% if signed_in? %>
  <%= render 'layouts/header' %>
  <div id="page">
    <div id="name">
      <%= current_user.name %>
    </div>
    <div id="week">
      <a class="date"><%= @week.date.strftime("%B #{@week.date.day.ordinalize}, %Y") %></a>
    </div>
    <div id="feed">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <%= render 'shared/signin' %>
<% end %>