<% provide(:title, @user.name) %>
<%= render 'layouts/header' %>
<div id="page">
  <div class="stats">
  <%= @user.name %>
        <%= render 'shared/stats' %>
      <%= render 'follow_form', :user => @user if signed_in? %>
    </div>
      <% if @user.weekends.any? %>
    <div class="weekends">
          <%= render @weekends %>
        <%= link_to 'Load More Weekends', user_path(:page => @weekends.next_page), :class => 'load-more-weekends', :remote => true if @weekends.next_page %>
      </div>
      <% end %>
  </div>
