<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <p>
        <%= @user.email %>
      </p>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.weekends.any? %>
      <h3>Weekends</h3>
      <ul class="weekends">
        <%= render @weekends %>
      </ul>
      <%= will_paginate @weekends %>
    <% end %>
  </div>
</div>