<div class="list-group-item" id="<%= feed_item.id %>">
  <div class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </div>
  <div class="week"><%= feed_item.week.date %></div>
    <div class="votes"> <%= feed_item.votes.count %> Votes </div>
    <%= render 'weekends/vote_form', :weekend => feed_item %>
    <%= image_tag feed_item.images.first.image.url(:thumb) %>
  </div>
</div>