<div class='login-page'>
  <div class='login'>
    <header>
      <h1>TheWeekend</h1>
    </header>
    <%= form_for(:session, url: sessions_path, :class => "form-horizontal", :role => "form") do |f| %>
    <p>
      <%= f.text_field :name_or_email, :placeholder => "Username or email" %>
    </p>
    <p>
      <%= f.password_field :password, :placeholder => "Password" %>
    </p>
      <%= f.submit "Sign in", class: "btn btn-default btn-primary" %>
    <% end %>
    <%= link_to "Sign up!", signup_path %>
  </div>
</div>