<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class="stat following">
      <div class="stat-num"><%= @user.followed_users.count %></div>
    Following
  </a>
  <a href="<%= followers_user_path(@user) %>" class="stat followers">
      <div class="stat-num"><%= @user.followers.count %></div>
    Followers
  </a>
  <div class="stat weekend-count">
    <div class="stat-num"><%= @user.weekends.count %></div>
    Weekends
  </div>
</div>
