<% @user ||= current_user %>
<table class="table table-bordered">
  <div class="stats">
    <tr>
      <td>
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <%= @user.followed_users.count %>
          </strong>
          Following
        </a>
      </td>
      <td>
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
          Followers
        </a>
      </td>
      <td>
        <div>
          <%= @user.weekends.count %>
          Weekends
        </div>
      </td>
    </tr>
  </div>
</table>