<div id="header">
  <% if @week && @week.next %>
    <%= link_to '', root_path(:week => @week.next.id),
        class: "header-weekend-nav previous" %>
  <% end %>
  <% if @week && @week.previous %>
    <%= link_to '', root_path(:week => @week.previous.id),
        class: "header-weekend-nav next fa"%>
  <% end %>
  <div class="menu">
    <a class="logo">TheWeekend</a>
    <ul class="menu-list">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "My Profile", user_path(current_user) %></li>
      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
    </ul>
  </div>
</div>
